body {
	max-width: 100%;
}

#play {
	text-align: center;
	width: 150px;
	padding: 5px;
	background-color: black;
	color: white;
	font-size: 20px;
	margin: 0 auto;
}

#play:active {
	background-color: red;
}

img {
	width: 150px;
	margin-top: 50px;
}

#slave {
	display: none;
	margin-left: 17px;
}

#emperor {
	display: none;
	margin-left: 17px;
}

#endGameText {
	display: none;
	text-align: center;
}

#endGameText p {
	font-size: 32px;
}

#cards {
	max-width: 80%;
	margin: 0 auto;
}

#gameWrapper {
	max-width: 100%;
	margin: 0 auto;
}

p {
	font-family: 'Maven Pro', 'sans-serif';	
}