#play {
	text-align: center;
	width: 150px;
	padding: 5px;
	background-color: black;
	color: white;
	font-size: 20px;
	margin: 0 auto;
}

#play:active {
	background-color: red;
}

img {
	max-width: 150px;
}

#slave {
	display: none;
}

#emperor {
	display: none;
}